config OPPO_SVELTE
	tristate "svelte log driver"
	default y if ((OPPO_MEMLEAK_DETECT = "all") || (OPPO_MEMLEAK_DETECT = "thread"))
	default n
	---help---
	  Log reading and writing is performed via normal Linux reads and
	  optimized writes. This optimization avoids logging having too
	  much overhead in the system.

